#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#sec1 
{
	position: relative;
	top:40vh;
}
#sec1 .desc-body{
	position: relative;
	width: 30vw;
	left: 60%;
	/*background-color: black;
	border:2px solid red;*/
	color: white;
}
#sec1 .desc-body p{
	font-size: 30px;
}
#sec1 .desc-body p span{
	font-size: 50px;
}

#sec1 .skills{
	height: 50vh;
	width: 100vw;
	background-color: black;
	/*border:2px solid red;*/
	color: white;
	margin-top: 50px;
}

#sec1 .skills header{
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 30px;
}

#sec1 .skills .container{
	position: relative;
	top: 10%;
	height: 100px;
	margin: auto;
	width: 70vw; 
}

#sec1 .skills .box{
	position: relative;
	left: 10%;
	display: inline-block;
	/*border:2px solid red;*/
	margin: 20px;
	margin-right: 20px;
}

@media (min-width:200px) and (max-width: 1000px)
{
	#background-video{
		object-fit: cover;
	}
}

@media (min-width:200px) and (max-width: 415px){
	#sec1 .skills .box{
		position: relative;
		left: 25%;
		margin: auto 20px;
		margin-top:20px; 
	}
	#sec1 .desc-body{
		left: 40%;
		width: 40vw;
	}
	#sec1 .skills{
		height: 80vh;
	}
}